.login-container {
  height: 100vh;
  width: 100vw;

  background: linear-gradient(
    120deg,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  background-size: 300% 300%;

  animation: gradientMove 12s ease infinite;

  display: flex;
  justify-content: center;
  align-items: center;
}


.login-card {
  background: #ffffff;
  padding: 30px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-card input,
.login-card select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background-color: #667eea;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.login-card button:hover {
  background-color: #5a67d8;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
